--
-- PostgreSQL database dump
--

\restrict xtAqEQmCUVXF9GqT44D6A7Ak81BzbQ2szxkJOdHLf1HyXiGOAYemdgRIHitxw6R

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: approval_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approval_history (
    approval_id uuid DEFAULT gen_random_uuid() NOT NULL,
    work_order_id uuid,
    recommendation_id uuid,
    decided_by uuid NOT NULL,
    decision character varying(30) NOT NULL,
    reason text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_approval_history_decision CHECK (((decision)::text = ANY ((ARRAY['APPROVED'::character varying, 'REJECTED'::character varying, 'REVISION_REQUIRED'::character varying])::text[])))
);


ALTER TABLE public.approval_history OWNER TO postgres;

--
-- Name: crews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.crews (
    crew_id uuid DEFAULT gen_random_uuid() NOT NULL,
    crew_name character varying(100) NOT NULL,
    crew_type character varying(50) NOT NULL,
    crew_leader_user_id uuid,
    description text,
    contact_number character varying(20),
    status character varying(30) DEFAULT 'AVAILABLE'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_crews_status CHECK (((status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'BUSY'::character varying, 'UNAVAILABLE'::character varying])::text[]))),
    CONSTRAINT chk_crews_type CHECK (((crew_type)::text = ANY ((ARRAY['DRAINAGE'::character varying, 'ROAD'::character varying, 'WASTE'::character varying, 'ELECTRICAL'::character varying, 'ENVIRONMENT'::character varying])::text[])))
);


ALTER TABLE public.crews OWNER TO postgres;

--
-- Name: problems; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.problems (
    problem_id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    category character varying(50) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    address text,
    priority character varying(20),
    priority_score integer,
    status character varying(30) DEFAULT 'IDENTIFIED'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_problems_category CHECK (((category)::text = ANY ((ARRAY['DRAINAGE'::character varying, 'ROAD'::character varying, 'WASTE'::character varying, 'ELECTRICAL'::character varying, 'ENVIRONMENT'::character varying])::text[]))),
    CONSTRAINT chk_problems_latitude CHECK (((latitude >= ('-90'::integer)::numeric) AND (latitude <= (90)::numeric))),
    CONSTRAINT chk_problems_longitude CHECK (((longitude >= ('-180'::integer)::numeric) AND (longitude <= (180)::numeric))),
    CONSTRAINT chk_problems_priority CHECK (((priority IS NULL) OR ((priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[])))),
    CONSTRAINT chk_problems_priority_score CHECK (((priority_score IS NULL) OR ((priority_score >= 0) AND (priority_score <= 100)))),
    CONSTRAINT chk_problems_status CHECK (((status)::text = ANY ((ARRAY['IDENTIFIED'::character varying, 'AWAITING_ASSIGNMENT'::character varying, 'ASSIGNED'::character varying, 'IN_PROGRESS'::character varying, 'RESOLVED'::character varying, 'CLOSED'::character varying])::text[])))
);


ALTER TABLE public.problems OWNER TO postgres;

--
-- Name: report_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.report_photos (
    photo_id uuid DEFAULT gen_random_uuid() NOT NULL,
    report_id uuid NOT NULL,
    photo_url text NOT NULL,
    file_name character varying(255),
    mime_type character varying(100),
    uploaded_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.report_photos OWNER TO postgres;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    report_id uuid DEFAULT gen_random_uuid() NOT NULL,
    resident_id uuid NOT NULL,
    description text NOT NULL,
    category character varying(50) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    address text,
    status character varying(30) DEFAULT 'PENDING'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    problem_id uuid,
    CONSTRAINT chk_reports_category CHECK (((category)::text = ANY ((ARRAY['DRAINAGE'::character varying, 'ROAD'::character varying, 'WASTE'::character varying, 'ELECTRICAL'::character varying, 'ENVIRONMENT'::character varying])::text[]))),
    CONSTRAINT chk_reports_latitude CHECK (((latitude >= ('-90'::integer)::numeric) AND (latitude <= (90)::numeric))),
    CONSTRAINT chk_reports_longitude CHECK (((longitude >= ('-180'::integer)::numeric) AND (longitude <= (180)::numeric))),
    CONSTRAINT chk_reports_status CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'PROCESSING'::character varying, 'ASSIGNED'::character varying, 'RESOLVED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    role_id uuid DEFAULT gen_random_uuid() NOT NULL,
    role_name character varying(50) NOT NULL,
    role_code character varying(50) NOT NULL,
    description character varying(255),
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    role_id uuid NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    phone_number character varying(20),
    profile_image_url character varying(500),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: work_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_orders (
    work_order_id uuid DEFAULT gen_random_uuid() NOT NULL,
    problem_id uuid NOT NULL,
    crew_id uuid NOT NULL,
    priority character varying(20) NOT NULL,
    title character varying(200) NOT NULL,
    instructions text,
    status character varying(30) DEFAULT 'PENDING_APPROVAL'::character varying NOT NULL,
    assigned_at timestamp with time zone,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    completion_notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_work_orders_priority CHECK (((priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT chk_work_orders_status CHECK (((status)::text = ANY ((ARRAY['PENDING_APPROVAL'::character varying, 'ASSIGNED'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.work_orders OWNER TO postgres;

--
-- Name: workflow_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_events (
    workflow_event_id uuid DEFAULT gen_random_uuid() NOT NULL,
    workflow_run_id uuid NOT NULL,
    agent_name character varying(50) NOT NULL,
    stage character varying(50) NOT NULL,
    status character varying(30) NOT NULL,
    input_data jsonb,
    output_data jsonb,
    validation_result jsonb,
    tool_results jsonb,
    error_message text,
    started_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at timestamp with time zone,
    CONSTRAINT chk_workflow_events_stage CHECK (((stage)::text = ANY ((ARRAY['REPORT_ANALYSIS'::character varying, 'PROBLEM_CONSOLIDATION'::character varying, 'PRIORITIZATION'::character varying, 'VALIDATION'::character varying, 'WAITING_FOR_APPROVAL'::character varying, 'WORK_EXECUTION'::character varying, 'COMPLETED'::character varying])::text[]))),
    CONSTRAINT chk_workflow_events_status CHECK (((status)::text = ANY ((ARRAY['RUNNING'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying, 'CANCELLED'::character varying, 'WAITING'::character varying])::text[])))
);


ALTER TABLE public.workflow_events OWNER TO postgres;

--
-- Name: workflow_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_runs (
    workflow_run_id uuid DEFAULT gen_random_uuid() NOT NULL,
    report_id uuid NOT NULL,
    problem_id uuid,
    current_stage character varying(50) NOT NULL,
    status character varying(30) DEFAULT 'RUNNING'::character varying NOT NULL,
    state_data jsonb,
    started_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_workflow_runs_stage CHECK (((current_stage)::text = ANY ((ARRAY['REPORT_ANALYSIS'::character varying, 'PROBLEM_CONSOLIDATION'::character varying, 'PRIORITIZATION'::character varying, 'VALIDATION'::character varying, 'WAITING_FOR_APPROVAL'::character varying, 'WORK_EXECUTION'::character varying, 'COMPLETED'::character varying])::text[]))),
    CONSTRAINT chk_workflow_runs_status CHECK (((status)::text = ANY ((ARRAY['RUNNING'::character varying, 'WAITING'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.workflow_runs OWNER TO postgres;

--
-- Data for Name: approval_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.approval_history (approval_id, work_order_id, recommendation_id, decided_by, decision, reason, created_at) FROM stdin;
\.


--
-- Data for Name: crews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: problems; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: report_photos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.report_photos (photo_id, report_id, photo_url, file_name, mime_type, uploaded_at) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: work_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_orders (work_order_id, problem_id, crew_id, priority, title, instructions, status, assigned_at, started_at, completed_at, completion_notes, created_at, updated_at) FROM stdin;
ff000000-0000-0000-0000-000000000001	b0000000-0000-0000-0000-000000000006	c0000000-0000-0000-0000-000000000004	HIGH	Emergency feeder box repair at Clock Tower junction	Inspect and repair short-circuited municipal street feeder box.	IN_PROGRESS	2026-09-26 03:27:12.004065+00	2026-09-26 04:27:12.004106+00	\N	\N	2026-09-26 03:27:12.004138+00	2026-09-26 04:27:12.004178+00
\.


--
-- Data for Name: workflow_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workflow_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: approval_history PK_approval_history; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_history
    ADD CONSTRAINT "PK_approval_history" PRIMARY KEY (approval_id);


--
-- Name: crews PK_crews; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crews
    ADD CONSTRAINT "PK_crews" PRIMARY KEY (crew_id);


--
-- Name: problems PK_problems; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.problems
    ADD CONSTRAINT "PK_problems" PRIMARY KEY (problem_id);


--
-- Name: report_photos PK_report_photos; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.report_photos
    ADD CONSTRAINT "PK_report_photos" PRIMARY KEY (photo_id);


--
-- Name: reports PK_reports; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "PK_reports" PRIMARY KEY (report_id);


--
-- Name: roles PK_roles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_roles" PRIMARY KEY (role_id);


--
-- Name: users PK_users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_users" PRIMARY KEY (user_id);


--
-- Name: work_orders PK_work_orders; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT "PK_work_orders" PRIMARY KEY (work_order_id);


--
-- Name: workflow_events PK_workflow_events; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_events
    ADD CONSTRAINT "PK_workflow_events" PRIMARY KEY (workflow_event_id);


--
-- Name: workflow_runs PK_workflow_runs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_runs
    ADD CONSTRAINT "PK_workflow_runs" PRIMARY KEY (workflow_run_id);


--
-- Name: IX_crews_crew_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_crews_crew_name" ON public.crews USING btree (crew_name);


--
-- Name: IX_roles_role_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_roles_role_code" ON public.roles USING btree (role_code);


--
-- Name: IX_roles_role_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_roles_role_name" ON public.roles USING btree (role_name);


--
-- Name: IX_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_users_email" ON public.users USING btree (email);


--
-- Name: idx_approval_history_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_approval_history_created_at ON public.approval_history USING btree (created_at);


--
-- Name: idx_approval_history_decided_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_approval_history_decided_by ON public.approval_history USING btree (decided_by);


--
-- Name: idx_approval_history_recommendation_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_approval_history_recommendation_id ON public.approval_history USING btree (recommendation_id);


--
-- Name: idx_approval_history_work_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_approval_history_work_order_id ON public.approval_history USING btree (work_order_id);


--
-- Name: idx_crews_leader; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_crews_leader ON public.crews USING btree (crew_leader_user_id);


--
-- Name: idx_crews_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_crews_status ON public.crews USING btree (status);


--
-- Name: idx_crews_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_crews_type ON public.crews USING btree (crew_type);


--
-- Name: idx_problems_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_problems_category ON public.problems USING btree (category);


--
-- Name: idx_problems_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_problems_location ON public.problems USING btree (latitude, longitude);


--
-- Name: idx_problems_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_problems_priority ON public.problems USING btree (priority);


--
-- Name: idx_problems_priority_score; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_problems_priority_score ON public.problems USING btree (priority_score);


--
-- Name: idx_problems_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_problems_status ON public.problems USING btree (status);


--
-- Name: idx_report_photos_report_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_report_photos_report_id ON public.report_photos USING btree (report_id);


--
-- Name: idx_reports_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reports_category ON public.reports USING btree (category);


--
-- Name: idx_reports_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reports_created_at ON public.reports USING btree (created_at);


--
-- Name: idx_reports_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reports_location ON public.reports USING btree (latitude, longitude);


--
-- Name: idx_reports_problem_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reports_problem_id ON public.reports USING btree (problem_id);


--
-- Name: idx_reports_resident_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reports_resident_id ON public.reports USING btree (resident_id);


--
-- Name: idx_reports_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reports_status ON public.reports USING btree (status);


--
-- Name: idx_users_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_active ON public.users USING btree (is_active);


--
-- Name: idx_users_role_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role_id ON public.users USING btree (role_id);


--
-- Name: idx_work_orders_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_orders_created_at ON public.work_orders USING btree (created_at);


--
-- Name: idx_work_orders_crew_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_orders_crew_id ON public.work_orders USING btree (crew_id);


--
-- Name: idx_work_orders_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_orders_priority ON public.work_orders USING btree (priority);


--
-- Name: idx_work_orders_problem_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_orders_problem_id ON public.work_orders USING btree (problem_id);


--
-- Name: idx_work_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_orders_status ON public.work_orders USING btree (status);


--
-- Name: idx_workflow_events_agent_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_events_agent_name ON public.workflow_events USING btree (agent_name);


--
-- Name: idx_workflow_events_stage; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_events_stage ON public.workflow_events USING btree (stage);


--
-- Name: idx_workflow_events_started_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_events_started_at ON public.workflow_events USING btree (started_at);


--
-- Name: idx_workflow_events_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_events_status ON public.workflow_events USING btree (status);


--
-- Name: idx_workflow_events_workflow_run_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_events_workflow_run_id ON public.workflow_events USING btree (workflow_run_id);


--
-- Name: idx_workflow_runs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_runs_created_at ON public.workflow_runs USING btree (created_at);


--
-- Name: idx_workflow_runs_current_stage; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_runs_current_stage ON public.workflow_runs USING btree (current_stage);


--
-- Name: idx_workflow_runs_problem_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_runs_problem_id ON public.workflow_runs USING btree (problem_id);


--
-- Name: idx_workflow_runs_report_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_runs_report_id ON public.workflow_runs USING btree (report_id);


--
-- Name: idx_workflow_runs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_runs_status ON public.workflow_runs USING btree (status);


--
-- Name: approval_history FK_approval_history_users_decided_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_history
    ADD CONSTRAINT "FK_approval_history_users_decided_by" FOREIGN KEY (decided_by) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: approval_history FK_approval_history_work_orders_work_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_history
    ADD CONSTRAINT "FK_approval_history_work_orders_work_order_id" FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id) ON DELETE CASCADE;


--
-- Name: approval_history FK_approval_history_workflow_events_recommendation_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_history
    ADD CONSTRAINT "FK_approval_history_workflow_events_recommendation_id" FOREIGN KEY (recommendation_id) REFERENCES public.workflow_events(workflow_event_id) ON DELETE RESTRICT;


--
-- Name: crews FK_crews_users_crew_leader_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crews
    ADD CONSTRAINT "FK_crews_users_crew_leader_user_id" FOREIGN KEY (crew_leader_user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: report_photos FK_report_photos_reports_report_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.report_photos
    ADD CONSTRAINT "FK_report_photos_reports_report_id" FOREIGN KEY (report_id) REFERENCES public.reports(report_id) ON DELETE CASCADE;


--
-- Name: reports FK_reports_problems_problem_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "FK_reports_problems_problem_id" FOREIGN KEY (problem_id) REFERENCES public.problems(problem_id) ON DELETE SET NULL;


--
-- Name: reports FK_reports_users_resident_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT "FK_reports_users_resident_id" FOREIGN KEY (resident_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: users FK_users_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_users_roles_role_id" FOREIGN KEY (role_id) REFERENCES public.roles(role_id) ON DELETE RESTRICT;


--
-- Name: work_orders FK_work_orders_crews_crew_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT "FK_work_orders_crews_crew_id" FOREIGN KEY (crew_id) REFERENCES public.crews(crew_id) ON DELETE RESTRICT;


--
-- Name: work_orders FK_work_orders_problems_problem_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT "FK_work_orders_problems_problem_id" FOREIGN KEY (problem_id) REFERENCES public.problems(problem_id) ON DELETE RESTRICT;


--
-- Name: workflow_events FK_workflow_events_workflow_runs_workflow_run_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_events
    ADD CONSTRAINT "FK_workflow_events_workflow_runs_workflow_run_id" FOREIGN KEY (workflow_run_id) REFERENCES public.workflow_runs(workflow_run_id) ON DELETE CASCADE;


--
-- Name: workflow_runs FK_workflow_runs_problems_problem_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_runs
    ADD CONSTRAINT "FK_workflow_runs_problems_problem_id" FOREIGN KEY (problem_id) REFERENCES public.problems(problem_id) ON DELETE SET NULL;


--
-- Name: workflow_runs FK_workflow_runs_reports_report_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_runs
    ADD CONSTRAINT "FK_workflow_runs_reports_report_id" FOREIGN KEY (report_id) REFERENCES public.reports(report_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict xtAqEQmCUVXF9GqT44D6A7Ak81BzbQ2szxkJOdHLf1HyXiGOAYemdgRIHitxw6R

